body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}
body .navigation-top {
  width: 100%;
  height: 50px;
  background-color: #00aeef;
  display: flex;
}
body .navigation-top div {
  text-align: center;
  padding-top: 2px;
  width: 100%;
}
body .navigation-top div p {
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 16px;
}
body .navigation-top div .phone {
  font-weight: bold;
  padding-top: 2px;
}
body .navigation-top div .phone .fas.fa-phone {
  padding-right: 10px;
  font-size: 14px;
}
body .navigation-top div .phone a {
  text-decoration: none;
  color: #FFF;
}
body .navigation-top div .phone:hover {
  text-decoration: underline;
}
body .navigation-top div .phone:active {
  text-decoration: none;
}
body .navigation-top-scrolled {
  position: fixed;
  width: 100%;
}
body .photo1 {
  background-image: url("../assets/photos/photo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 95vh;
  resize: both;
}
body .fas.fa-arrow-alt-circle-up.fas.fa-arrow-alt-circle-up {
  display: none;
  bottom: 15px;
  right: 15px;
  color: #0085ef;
  position: fixed;
  z-index: 10;
  opacity: .8;
  font-size: 65px;
  transition: all 0.5s ease-in-out;
}
body .about-me,
body .home_visit,
body .services,
body .contact {
  margin-top: 30px;
}
body .about-me div .photo-me,
body .home_visit div .photo-me,
body .services div .photo-me,
body .contact div .photo-me {
  background-image: url("../assets/photos/my_photo.jpg");
  background-size: 100%;
  width: 225px;
  height: 300px;
  margin: 20px auto;
}
body .about-me div p,
body .home_visit div p,
body .services div p,
body .contact div p {
  width: 80%;
  margin: 25px auto;
  text-align: justify;
  font-size: 14px;
}
body .about-me div ul,
body .home_visit div ul,
body .services div ul,
body .contact div ul {
  font-size: 14px;
  width: 75%;
  margin: 20px auto 0;
  padding-left: 20px;
  list-style-type: disc;
  text-align: justify;
}
body .about-me div .contact_informations,
body .home_visit div .contact_informations,
body .services div .contact_informations,
body .contact div .contact_informations {
  text-align: center;
}
body .about-me div .contact_phone,
body .home_visit div .contact_phone,
body .services div .contact_phone,
body .contact div .contact_phone {
  text-align: center;
  font-size: 24px;
}
body .about-me div .contact_phone a,
body .home_visit div .contact_phone a,
body .services div .contact_phone a,
body .contact div .contact_phone a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
body .header {
  text-align: center;
  color: #0085ef;
  margin: 0 auto;
  width: 80%;
}
body footer {
  height: 30px;
  color: white;
  background-color: #00aeef;
  text-align: center;
  padding-top: 12px;
  font-size: 0.8em;
}
@media screen and (min-width: 426px) {
  body .navigation-top div {
    padding-top: 12px;
    width: 100%;
  }
  body .navigation-top div p {
    display: inline;
  }
  body .navigation-top div .phone {
    margin-left: 30px;
  }
  body .navigation-top div:not(:first-child) {
    display: none;
  }
  body .photo1 {
    background-position: center;
  }
}
@media screen and (min-width: 767px) {
  body .navigation-menu {
    display: block;
    background-color: #0085ef;
    text-align: center;
    width: 100%;
    height: 60px;
  }
  body .navigation-menu ul {
    display: inline-flex;
    list-style: none;
    width: 90%;
    padding-left: 0;
    margin: 13px 0;
  }
  body .navigation-menu ul li {
    width: 100%;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
  body .navigation-top-scrolled {
    width: 1200px;
  }
  body .photo1 {
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1290px;
  }
  body .navigation-top-scrolled {
    width: 1290px;
  }
}
@media screen and (min-width: 1852px) {
  body {
    width: 1460px;
  }
  body .navigation-top-scrolled {
    width: 1460px;
  }
}
