body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}
body .navigation-top {
  width: 100%;
  height: 50px;
  background-color: #00aeef;
  display: flex;
}
body .navigation-top div:first-child {
  width: 75%;
  text-align: center;
  padding-top: 2px;
}
body .navigation-top div:first-child p,
body .navigation-top div:first-child p:first-child {
  display: inline-block;
  margin: 0;
  color: #FFF;
  font-size: 16px;
}
body .navigation-top div:first-child .phone {
  font-weight: bold;
  padding-top: 2px;
}
body .navigation-top div:first-child .phone .fas.fa-phone {
  padding-right: 10px;
  font-size: 14px;
}
body .navigation-top div:first-child .phone a {
  text-decoration: none;
  color: #FFF;
}
body .navigation-top div:first-child .phone:hover {
  text-decoration: underline;
}
body .navigation-top div:first-child .phone:active {
  text-decoration: none;
}
body .navigation-top div:not(:first-child) {
  width: 20%;
  text-align: center;
}
body .navigation-top div:not(:first-child) .hamburger-menu {
  margin: 0;
  padding-top: 10px;
  font-size: 24px;
  color: #FFF;
}
body .photo1 {
  background-image: url("../assets/photos/photo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
body .mobile-menu {
  display: none;
  margin: 0;
  width: 80%;
  float: right;
  background-color: #00aeef;
}
body .mobile-menu ul {
  list-style: none;
}
body .mobile-menu ul li {
  color: #FFF;
  height: 35px;
}
body .navigation-menu {
  display: none;
}
body .navigation-top-scrolled {
  position: fixed;
}
body .mobile-menu-scrolled {
  position: fixed;
  top: 50px;
  right: 0;
}
body .home-visit {
  border: 1px solid red;
  height: 150vh;
}
@media screen and (min-width: 426px) {
  body .navigation-top div:first-child {
    padding-top: 12px;
    width: 100%;
  }
  body .navigation-top div:first-child .phone {
    margin-left: 30px;
  }
  body .navigation-top div:not(:first-child) {
    display: none;
  }
  body .mobile-menu {
    display: none;
  }
  body .navigation-menu {
    display: block;
    background-color: #0085ef;
    text-align: center;
    width: 100%;
    height: 60px;
  }
  body .navigation-menu ul {
    display: inline-flex;
    list-style: none;
    width: 75%;
  }
  body .navigation-menu ul li {
    width: 100%;
    color: white;
    cursor: pointer;
  }
  body .photo1 {
    background-size: 100%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
  body .photo1 {
    background-size: cover;
  }
  body .navigation-top-scrolled {
    width: 1200px;
    position: fixed;
  }
}
