// Styles from mobile to desktop

body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    box-shadow: 0 0px 6px 0; 
    overflow: hidden;
    .alert {
        height: 50vh;
        width: 59%;
        border: 1px solid;
        position: fixed;
        top: 20%;
        left: 20%;
        background: white;
        z-index: 1;
        i {
            font-size: 45px;
            float: right;
            margin-top: 10px;
            margin-right: 10px;
            color: red;
            opacity: .6;
        }
        small {
            display: block;
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            top: 30%;
            text-align: center;
            width: 90%;
            left: 5%;
        }
        p {
            display: block;
            position: absolute;
            width: 100%;
            font-size: 12px;
            bottom: 35px;
            text-align: center;
        }
    }
    .grey {
        height: 100%;
        border: 1px solid;
        display: block;
        position: fixed;
        width: 100%;
        background: rgba(0,0,0,0.8);
    }
    .navigation-top {
        width: 100%;
        height: 50px;
        background-color: #00aeef;
        display: flex;
        top: 0;
        box-shadow: 0 0px 6px 0; 
            div {
                display: flex;
                width: 100%;
                .main_description {
                    text-align: center;
                    padding-top: 4px;
                    display: inline;
                    p {
                        display: block;
                        margin: 0;
                        color: #FFF;
                        font-size: 16px;
                        padding-left: 20px;
                    }
                    .phone {
                        font-weight: bold;
                        padding-top: 2px;
                        .fas.fa-phone {
                            padding-right: 10px;
                            font-size: 14px;
                        }
                        a {
                            text-decoration: none;
                            color: #FFF;
                        }
                    }
                    .phone:hover {
                        text-decoration: underline;
                        padding-bottom: 2px;
                    }
                    .phone:active {
                        text-decoration: none;
                    }
                }
                ul {
                    padding-left: 0;
                    list-style: none;
                    display: inline-flex;
                    margin-top: 14px;
                    margin-right: 5px;
                    // z-index: 10;
                    li {
                        display: inline-flex;
                        width: 70px;
                        height: 23px;
                        a {
                            display: inline-flex;
                            text-decoration: none;
                            color: white;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                            span {
                                font-size: 14px;
                                padding-left: 5px;
                            }
                        }
                        i {
                            cursor: pointer;
                            color: white;
                            padding: 2px 0 0 8px;
                        }
                        .fas.fa-angle-up {
                            display: none;
                        }
                    }
                    .other_language {
                        display: none;
                        position: absolute;
                        top: 40px;
                        background-color: #00aeef;
                        i {
                            visibility: hidden;
                        }
                    }
                }
            }
    }
    .overlay {
        height: 100%;
        width: 100%;
        top: 50px;
        position: fixed;
        background: rgba(0,0,0,0.7);
        display: none;
        z-index: 1;
    }
    .navigation-top-scrolled {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }
    .photo1 {
        background-image: url("../assets/photos/medical1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
        background-attachment: fixed;
        background-position: center;
        height: 95vh;
        p {
            display: none;
        }
    }
    .about-me,
    .home_visit,
    .services,
    .contact {
        margin-top: 30px;
        div {
            .photo-me {
                background-image: url("../assets/photos/my_photo.jpg");
                background-size: 100%;
                width: 225px;
                height: 300px;
                margin: 20px auto;
            }
            p {
                width: 80%;
                margin: 25px auto;
                text-align: justify;
                font-size: 14px;
            }
            ul {
                font-size: 14px;
                width: 80%;
                margin: 20px auto 0;
                padding-left: 25px;
                list-style-type: disc;
                text-align: justify;
                li {
                    width: 95%;
                }
            }
            .contact_text {
                color: red;
            }
            .contact_information {
                text-align: center;
            }
            .contact_phone {
                text-align: center;
                font-size: 24px;
                a {
                    text-decoration: none;
                    color: #000000;
                    font-weight: bold;
                }
            }
        }
    }
    .header {
        text-align: center;
        color: #0085ef;
        margin: 0 auto;
        width: 80%;
    }
    .cookies {
        color: #FFF;
        position: fixed;
        display: block;
        bottom: 0;
        background-color: #00aeef;
        height: 95px;
        width: 100%;
        box-shadow: inset 0 0px 6px 0; 
        .fas.fa-cookie-bite {
            position: absolute;
            font-size: 50px;
            opacity: 0.4;
            top: 8px;
            left: 10px;
        }
        .far.fa-times-circle {
            position: absolute;
            right: 18px;
            top: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        span {
            display: block;
            font-size: 12px;
            text-align: center;
            margin-top: 2px;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .policy {
        position: fixed;
        display: none;
        left: 50%;
        margin-left: -35%;
        top: 85px;
        height: 320px;
        width: 75%;
        background-color: #FFF;
        box-shadow: 0 0px 6px 0;
        z-index: 10;
        overflow: auto;
        span {
            position: relative;
            top: 30px;
            display: block;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
        p {
            display: block;
            width: 90%;
            font-size: 12px;
            margin: 40px auto 20px;
        }
    }
    .far.fa-times-circle,
    .fas.fa-window-close {
        position: absolute;
        right: 18px;
        top: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    footer {
        height: 30px;
        color: white;
        background-color: #00aeef;
        text-align: center;
        padding-top: 12px;
        font-size: 0.8em;
        box-shadow: 0 -2px 8px rgba(0,0,0,0.5);
    }
}

@media screen and (min-width: 375px) {
    body {
        .cookies {
            height: 85px;
            span {
                margin-top: 6px;
            }
        }
    }
}
@media screen and (min-width: 426px) {
    body {
        .alert {
            small {
                 top: 40%;
            }
            p {
                bottom: 30px;
            }
        }
        .navigation-top {
            div {
                padding-top: 0px;
                width: 95%;
                p {
                    display: inline;
                }
                .phone {
                    margin-left: 30px;
                }
                ul {
                    a {
                        font-size: 18px;
                    }
                }
            }
            div:not(:first-child) {
                display: none;
            }
        }
        .photo1 {
            display: block;
            background-position: center;
        }
        .services {
            div {
                ul {
                    padding-left: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    body {
        .alert {
            p {
                bottom: 40px;
            }
        }
        .navigation-top {
            div {
                ul {
                    li {
                        width: 90px;
                            a {
                                font-size: 14px;
                                padding-left: 10px;
                            }
                            i {
                                padding: 2px 0 0 15px;
                            }
                    }
                }
            }
        }
        .photo1 {
            opacity: 0.8;
            p {
                display: block;
                margin: 0 auto;
                opacity: 1;
                width: 51%;
                padding-top: 90px;
                margin-right: 140px;
                font-size: 22px;
                font-weight: bold;
                font-style: italic;
                z-index: 1;
                float: right;
            }
            p:nth-child(2) {
                padding-top: 0;
                font-weight: normal;
                font-size: 18px;
            }
        }
        .cookies {
            height: 60px;
            width: 100%;
            .fas.fa-cookie-bite {
                top: 5px;
            }
            .far.fa-times-circle {
                font-size: 18px;
            }
            span {
                margin-top: 14px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        .alert {
            i {
                font-size: 70px;
            }
            small {
                font-size: 22px;
            }
            p {
                font-size: 18px;
                bottom: 40px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        margin: 0 auto;
        width: 1200px;
        .navigation-top {
            box-shadow: none;
        }
        .navigation-top-scrolled {
            width: 1200px;
        }
        .overlay,
        .cookies {
            width: 1200px;
            z-index: 1;
        }
        .photo1 {
            background-size: cover;
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        width: 1290px;
        .navigation-top-scrolled {
            width: 1290px;
        }
        .overlay,
        .cookies {
            width: 1290px;
        }
    }
}

@media screen and (min-width: 1852px) {
    body {
        width: 1460px;
        .navigation-top-scrolled,
        .cookies {
            width: 1460px;
        }
        .overlay {
            width: 1852px;
        }
    }
}