body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}
body .navigation-top {
  width: 100%;
  height: 50px;
  background-color: #00aeef;
  display: flex;
}
body .navigation-top div:first-child {
  width: 75%;
  text-align: center;
  padding-top: 2px;
}
body .navigation-top div:first-child p,
body .navigation-top div:first-child p:first-child {
  display: inline-block;
  margin: 0;
  color: #FFF;
  font-size: 16px;
}
body .navigation-top div:first-child .phone {
  font-weight: bold;
  padding-top: 2px;
}
body .navigation-top div:first-child .phone .fas.fa-phone {
  padding-right: 10px;
  font-size: 14px;
}
body .navigation-top div:first-child .phone a {
  text-decoration: none;
  color: #FFF;
}
body .navigation-top div:first-child .phone:hover {
  text-decoration: underline;
}
body .navigation-top div:first-child .phone:active {
  text-decoration: none;
}
body .navigation-top div:not(:first-child) {
  width: 20%;
  text-align: center;
}
body .navigation-top div:not(:first-child) .hamburger-menu {
  display: none;
  margin: 0;
  padding-top: 10px;
  font-size: 24px;
  color: #FFF;
}
body .mobile-menu {
  display: none;
  margin: -2px 0 0;
  width: 80%;
  float: right;
  background-color: #00aeef;
}
body .mobile-menu ul {
  list-style: none;
}
body .mobile-menu ul li {
  height: 35px;
  color: #FFF;
}
body .navigation-menu {
  display: none;
}
body .navigation-top-scrolled {
  position: fixed;
  width: 100%;
}
body .mobile-menu-scrolled {
  position: fixed;
  top: 50px;
  right: 0;
}
body .photo1 {
  background-image: url("../assets/photos/photo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -500px;
  height: 95vh;
  resize: both;
}
body .about-me,
body .home_visit,
body .services,
body .contact {
  margin-top: 30px;
}
body .about-me div .photo-me,
body .home_visit div .photo-me,
body .services div .photo-me,
body .contact div .photo-me {
  background-image: url("../assets/photos/my_photo.jpg");
  background-size: 100%;
  width: 225px;
  height: 300px;
  margin: 0 auto;
}
body .about-me div p,
body .home_visit div p,
body .services div p,
body .contact div p {
  width: 80%;
  margin: 25px auto;
  text-align: justify;
  font-size: 14px;
}
body .about-me div .contact_informations,
body .home_visit div .contact_informations,
body .services div .contact_informations,
body .contact div .contact_informations {
  text-align: center;
}
body .about-me div .contact_phone,
body .home_visit div .contact_phone,
body .services div .contact_phone,
body .contact div .contact_phone {
  text-align: center;
  font-size: 24px;
}
body .about-me div .contact_phone a,
body .home_visit div .contact_phone a,
body .services div .contact_phone a,
body .contact div .contact_phone a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
body .header {
  text-align: center;
  color: #0085ef;
}
body footer {
  height: 50px;
  color: white;
  background-color: #00aeef;
  text-align: center;
  padding-top: 12px;
}
@media screen and (min-width: 426px) {
  body .navigation-top div:first-child {
    padding-top: 12px;
    width: 100%;
  }
  body .navigation-top div:first-child .phone {
    margin-left: 30px;
  }
  body .navigation-top div:not(:first-child) {
    display: none;
  }
  body .photo1 {
    background-position: center;
  }
}
@media screen and (min-width: 767px) {
  body .navigation-menu {
    display: block;
    background-color: #0085ef;
    text-align: center;
    width: 100%;
    height: 60px;
  }
  body .navigation-menu ul {
    display: inline-flex;
    list-style: none;
    width: 90%;
    padding-left: 0;
    margin: 13px 0;
  }
  body .navigation-menu ul li {
    width: 100%;
    cursor: pointer;
  }
  body .navigation-menu-scrolled {
    position: fixed;
  }
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
  body .navigation-top-scrolled {
    width: 1200px;
  }
  body .photo1 {
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1290px;
  }
  body .navigation-top-scrolled {
    width: 1290px;
  }
}
@media screen and (min-width: 1852px) {
  body {
    width: 1460px;
  }
  body .navigation-top-scrolled {
    width: 1460px;
  }
}
